* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: solid 1px black; */
}

/* UTILITY
******************************************** */
p {
    color: #b1b1b1;
}

.my-name {
    width: 100%;
    padding-top: 10px;
}

ul {
    list-style-type: none;
}

i {
    padding: 0 5px;
    color: #b1b1b1;
}

.text-message i {
    color: #6b7274;
}

aside {
    border-right: solid 1px #eaeaea;
}

li {
    border: solid 1px #eaeaea;
    padding: 10px;
}

.bell {
    background-color: white;
    border-radius: 100%;
    padding: 5px;
}

.bell i {
    color: #8edafc;
    ;
    text-align: center;
}

.image img {
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;

}

/* ******************************************** */

.background {
    padding: 20px 100px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #dde8e8, #DDDBD1 90%, #009688 90%)
}

.windows,
.first,
.info-user,
.setting-user,
.setting-user ul,
.notification,
.input-send,
.message-chat {
    display: flex;
}

.windows {
    background-color: #eaeaea;
  

}

.first {
    background-color: #eaeaea;
    padding: 10px;

}

.first,
.input-send {
    justify-content: space-between;
}

.user {
    width: 30%;
    background-color: white;
}

.chat {
    width: 70%;
    position: relative;
}

.notification {
    background-color: #8edafc;
    padding: 10px;
}

.chats {
    background-color: white;
    overflow-y: scroll;
    max-height: 300px;
}

.chats li:hover {
    background-color: #eaeaea;
}

.text-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #eaeaea;
    width: 100%;
}

.message-chat {
    width: 100%;
    background-image: url(../img/mine.jpg);
    position: relative;
    height: calc(100% - 42px);
    max-height: 400px;
    overflow-y: scroll;
}

.message-me {
    background-color: lightgreen;
    margin-top: 10px;

}

.message-friend {
    background-color: white;

}

.col-50 {
    margin: 0 30px;
    width: 50%;
}

.message-friend,
.message-me {
    border-radius: 5px;
    padding: 5px;
    width: 40%;
}

.flex {
    display: flex;
    justify-content: space-between;

}

.friend-chat {
    padding-top: 100px;
}

.write {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.input-send {
    height: 40px;
    align-items: center;
    padding: 10px;
}

.avatar {
    display: flex;
}

.info-user{
    justify-content: center;
    align-items: center;
}