<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <div id="app">
        <div class="background">
            <div class="windows">

                <!-- LATO SINISTRO -->
                <aside class="user">

                    <section class="first">
                        <!-- Foto e nome user -->
                        <div class="info-user">
                            <div class="image">
                                <img src="./img/avatar_io.jpg" alt="">
                            </div>
                            <div class=“my-name“>
                                <h4>Sofia</h4>
                            </div>
                        </div>

                        <!-- Setting user -->
                        <div class="setting-user">
                            <ul>
                                <li><i class="fa-solid fa-circle-notch"></i></li>
                                <li><i class="fa-solid fa-message"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </section>


                    <div class="notification">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="description">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <section class="second">
                        <input class="write" type="text" placeholder="Cerca o Inizia una nuova chat">
                    </section>

                    <section class="chats">
                        <ul>

                            <li v-for="(elem, index) in contacts" :class="contacts[index].visible ? `flex` : `` ">

                                <div class="avatar">

                                    <div class="image"> <img :src="'./img/avatar' + contacts[index].avatar + '.jpg'"
                                            alt="">
                                    </div>

                                    <div class="name-access">
                                        <h4>{{ contacts[index].name }}</h4>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                </div>


                                <div class="example">
                                    <p>12:00</p>
                                </div>


                            </li>


                        </ul>
                    </section>

                </aside>



                <!-- LATO DESTRO -->
                <div class="chat">
                    <section class="first">
                        <!-- Foto e nome user -->
                        <div class="info-user">
                            <div class="image">
                                <img src="./img/avatar_io.jpg" alt="">
                            </div>
                            <h4>Michele</h4>
                            <p>Ultimo accesso alle 12:00</p>
                        </div>

                        <!-- Setting user -->
                        <div class="setting-user">
                            <ul>
                                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                                <li><i class="fa-solid fa-paperclip"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </section>

                    <section class="message-chat">

                        <div class="col-50">

                            <div class="friend-chat">
                                <div class="friend-text">
                                    <div class="message-friend">Tutto fatto!</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-50">
                            <div class="me-chat">
                                <!-- <div class="me-text" v-for="(elem, index) in contacts" :class="contacts[index].visible ? `prova` : `` "> -->

                                <div class="me-text" v-for="(elem, index) in contacts"
                                    :class="contacts[index].visible ? `prova` : `` ">

                                    <div class="message-me">{{elem.messages}} </div>

                                </div>

                            </div>
                        </div>





                    </section>

                    <section class="text-message">
                        <div class="input-send">
                            <i class="fa-regular fa-face-smile"></i>
                            <div class="write">
                                <input class="write" type="text" placeholder="Scrivi messaggio">
                            </div>
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </section>

                </div>
            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>