<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>


    <div id="app">
        <div class="background">
            <div class="windows">

                <!-- LATO SINISTRO -->
                <aside class="user">

                    <section class="first">
                        <!-- Foto e nome user -->
                        <div class="info-user">
                            <p>Foto</p>
                            <p>Sofia</p>
                        </div>

                        <!-- Setting user -->
                        <div class="setting-user">
                            <ul>
                                <li><i class="fa-solid fa-circle-notch"></i></li>
                                <li><i class="fa-solid fa-message"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </section>


                    <div class="notification">
                        <p><i class="fa-solid fa-bell-slash"></i></p>
                        <div class="description">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <section class="second">
                        <input type="text">
                    </section>

                    <section class="chats">
                        <ul>
                            <!-- <li 
                            
                            v-for="(elem, index) in contacts" 
                            :class="contacts[index].visible ? `flex` : `` " > 
                            {{contacts[index].avatar }}  {{ contacts[index].name }}

                        </li> -->

                            <li v-for="(elem, index) in contacts" 
                            :class="contacts[index].visible ? `flex` : `` ">
                                {{contacts[index].avatar }} {{ contacts[index].name }}
                                <p>Ultimo messaggio inviato</p>

                            </li>



                        </ul>
                    </section>

                </aside>



                <!-- LATO DESTRO -->
                <div class="chat">
                    <section class="first">
                        <!-- Foto e nome user -->
                        <div class="info-user">
                            <p>Foto</p>
                            <p>Michele</p>
                        </div>

                        <!-- Setting user -->
                        <div class="setting-user">
                            <ul>
                                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                                <li><i class="fa-solid fa-paperclip"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </section>

                    <section class="message-chat">

                        <div class="col-50">

                            <div class="friend-chat">
                                <div class="friend-text">
                                    <div class="message-friend">Friend</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-50">
                            <div class="me-chat">
                                <div class="me-text">
                                    <div class="message-me">Me</div>
                                    <div class="message-me">Me</div>
                                </div>

                            </div>
                        </div>





                    </section>

                    <section class="text-message">
                        <div class="input-send">
                            <i class="fa-regular fa-face-smile"></i>
                            <input type="text">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </section>

                </div>
            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>